{% extends "base.html" %}
{% block title %}Create Answer{% endblock %}
{% block content %}
   <h1>Create Answer to "{{ poll }}"</h1>

   <form action="{% url "answer_poll" poll.pk %}" method="POST">
   {% csrf_token %}
        {% for answer in answers %}
        <input type="radio" value="{{ answer.pk }}" id="{{ answer.pk }}" name="answer" style="height: 20px; width: 20px">
            <hr/>
        {% endfor %}
        <input type="submit" value="Select" class="btn btn-primary">
   </form>
{% endblock %}