{% extends 'base.html' %}

{% block menu %}
<a class="navbar-brand" href="{% url 'update_view' poll.pk%}">Update</a>
    <a class="navbar-brand" href="{% url 'delete_view' poll.pk%}">Delete</a>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text">{{ poll.questions }}</h3>
                        {% for ansver in poll.Poll.all %}
                        <p class="card-text"> {{ ansver }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}